<div class="all">
  <div class="wrapper">
    <div class="title">Registration Form</div>

    <div class="form">
      <div class="inputfield">
        <label>First Name</label>
        <input #name type="text" class="input" name="name" />
      </div>
    </div>

    <div class="form">
      <div class="inputfield">
        <label>Last Name</label>
        <input #last type="text" class="input" name="last" />
      </div>

      <div class="inputfield">
        <label>Country</label>
        <div class="custom_select">
          <select #country name="country">
            <option *ngFor="let element of languages" value="{{this.element}}"
              >{{this.element}}</option
            >
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>City</label>
        <input #city type="text" class="input" name="city" />
      </div>

      <div class="inputfield">
        <label>Gender</label>
        <div class="custom_select">
          <select>
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Address</label>
        <input #adress type="text" class="input" name="adress" />
      </div>

      <div class="inputfield">
        <label>Postal code</label>
        <input
          #postalcode
          type="number"
          class="input"
          name="postalcode"
          max="99999"
        />
      </div>

      <div class="inputfield">
        <label>Driving licence</label>
        <div class="custom_select">
          <select #diving name="diving">
            <option value="yes">no</option>
            <option value="no">yes</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Date of Birth</label>
        <input #dateOfBirth type="date" class="input" name="dateOfBirth" />
      </div>

      <div class="inputfield">
        <label>Place of Birth</label>
        <input #placeOfBirth type="text" class="input" name="placeOfBirth" />
      </div>

      <div class="inputfield">
        <label>Nationality</label>
        <input #nationality type="text" class="input" name="nationality" />
      </div>

      <div class="inputfield">
        <label>Education level</label>
        <div class="custom_select">
          <select #educationlvl name="educationlvl">
            <option value="" selected="selected" disabled="disabled"
              >-- select one --</option
            >
            <option value="No formal education">No formal education</option>
            <option value="Primary education">Primary education</option>
            <option value="Secondary education"
              >Secondary education or high school</option
            >
            <option value="GED">GED</option>
            <option value="Vocational qualification"
              >Vocational qualification</option
            >
            <option value="Bachelor's degree">Bachelor's degree</option>
            <option value="Master's degree">Master's degree</option>
            <option value="Doctorate or higher">Doctorate or higher</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Field of study </label>
        <div class="custom_select">
          <select #field name="field">
            <option value="" selected="selected" disabled="disabled"
              >-- select one --</option
            >
            <option value="No formal education">technique</option>
            <option value="Primary education">Math</option>
            <option value="Secondary education">lettre</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Facebook link </label>
        <input #facebook type="text" class="input" name="facebook" />
      </div>

      <div class="inputfield">
        <label>Languages</label>
        <div class="custom_select">
          <select #language name="language" multiple>
            <option value="Afrikaans">Afrikaans</option>
            <option value="Albanian">Albanian</option>
            <option value="Arabic">Arabic</option>
            <option value="Armenian">Armenian</option>
            <option value="Basque">Basque</option>
            <option value="Bengali">Bengali</option>
            <option value="Bulgarian">Bulgarian</option>
            <option value="Catalan">Catalan</option>
            <option value="Cambodian">Cambodian</option>
            <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
            <option value="Croatian">Croatian</option>
            <option value="Czech">Czech</option>
            <option value="Danish">Danish</option>
            <option value="Dutch">Dutch</option>
            <option value="English">English</option>
            <option value="Estonian">Estonian</option>
            <option value="Fiji">Fiji</option>
            <option value="Finnish">Finnish</option>
            <option value="French">French</option>
            <option value="Georgian">Georgian</option>
            <option value="German">German</option>
            <option value="Greek">Greek</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Hebrew">Hebrew</option>
            <option value="Hindi">Hindi</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Indonesian">Indonesian</option>
            <option value="Irish">Irish</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Javanese">Javanese</option>
            <option value="Korean">Korean</option>
            <option value="Latin">Latin</option>
            <option value="Latvian">Latvian</option>
            <option value="Lithuanian">Lithuanian</option>
            <option value="Macedonian">Macedonian</option>
            <option value="Malay">Malay</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Maltese">Maltese</option>
            <option value="Maori">Maori</option>
            <option value="Marathi">Marathi</option>
            <option value="Mongolian">Mongolian</option>
            <option value="Nepali">Nepali</option>
            <option value="Norwegian">Norwegian</option>
            <option value="Persian">Persian</option>
            <option value="Polish">Polish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Quechua">Quechua</option>
            <option value="Romanian">Romanian</option>
            <option value="Russian">Russian</option>
            <option value="Samoan">Samoan</option>
            <option value="Serbian">Serbian</option>
            <option value="Slovak">Slovak</option>
            <option value="Slovenian">Slovenian</option>
            <option value="Spanish">Spanish</option>
            <option value="Swahili">Swahili</option>
            <option value="Swedish ">Swedish </option>
            <option value="Tamil">Tamil</option>
            <option value="Tatar">Tatar</option>
            <option value="Telugu">Telugu</option>
            <option value="Thai">Thai</option>
            <option value="Tibetan">Tibetan</option>
            <option value="Tonga">Tonga</option>
            <option value="Turkish">Turkish</option>
            <option value="Ukrainian">Ukrainian</option>
            <option value="Urdu">Urdu</option>
            <option value="Uzbek">Uzbek</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Welsh">Welsh</option>
            <option value="Xhosa">Xhosa</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>skills</label>
        <div class="custom_select">
          <select #skills name="skills" multiple>
            <option value="Afrikaans">team work</option>
            <option value="Albanian">collaboration</option>
            <option value="Arabic">empathy</option>
            <option value="Armenian">sinc of humer</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Hobbies</label>
        <input #hobbies type="text" class="input" name="hobbies" />
      </div>

      <div class="inputfield">
        <label>Dream Job</label>
        <input #dreamJob type="text" class="input" name="dreamJob" />
      </div>

      <div class="inputfield">
        <label>image</label>
        <input
          #image
          type="file"
          class="input"
          name="image"
          (change)="imgUpload($event)"
        />
      </div>

      <div class="inputfield">
        <label>Summary</label>
        <textarea #summery class="textarea" name="summery"></textarea>
      </div>

      <div class="inputfield">
        <button
          class="btn"
          (click)="takedata(dreamJob.value , name.value, last.value, country.value, city.value, adress.value,postalcode.value, diving.value, dateOfBirth.value, placeOfBirth.value, nationality.value, educationlvl.value,field.value, facebook.value, language.value, skills.value, hobbies.value, this.imageUrl, summery.value)"
        >
          Registration
        </button>
      </div>
    </div>
  </div>
</div>
