<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
        <form action="#" class="add-post-form">
    		    
    		    <div class="form-group has-error">
    		        <label for="slug">title <span class="require">*</span> <small>(This field use in url path.)</small></label>
    		        <input #title type="text" class="form-control" placeholder="title" name="title"/>
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">Description <span class="require">*</span></label>
    		        <input #description type="textarea" placeholder="description" name="description"class="form-control" />
    		    </div>
    		    
    		    <div class="form-group">
              <label>image</label>
              <br />
              <input
                #image
                type="file"
                class="input"
                name="image"
                (change)="imgUpload($event)"
              />
            </div>

            <div class="form-group">
              <select>
                <option placeholder = "choose one"></option>
                <option #type value = "Job Offer">Job Offer</option>
                <option #type value = "Intern Ship">Intern Ship</option>
              </select>
            </div>

            <div class="form-group">
              <input #salary type="number" placeholder="salary" name="salary" />
            </div>
    		    
            <div class="form-group">
                <p><span class="require">*</span> - required fields</p>
            </div>
    		    
    		    <div class="form-group">
              <button type="submit" class="btn btn-primary" (click)="collect([title.value ,description.value ,type.value ,salary.value , this.owner , this.email , this.imageUrl])" >
                Create
              </button>
              <button (click) = "back()" class="btn btn-primary">
                back
              </button>
    		    </div>
          </form>
        </div>
        
      </div>
    </div>
