<div class="all">
  <div class="wrapper">
    <div class="title">Registration Form</div>
    <div class="form">
      <div class="inputfield">
        <label>email</label>
        <input #email type="text" class="input" name="email" />
      </div>
      <div class="inputfield">
        <label>Owner</label>
        <input #owner type="text" class="input" name="owner" />
      </div>

      <div class="inputfield">
        <label>Field</label>
        <input #field type="text" class="input" name="field" />
      </div>

      <div class="inputfield">
        <label>Field</label>
        <div class="custom_select">
          <select #field name="field">
            <option value="technical">technical</option>
            <option value="science">science</option>
            <option value="sells">sells</option>
          </select>
        </div>
      </div>

      <div class="inputfield">
        <label>Number Of Employees </label>
        <input
          #numberOfEmployee
          type="text"
          class="input"
          name="numberOfEmployee"
        />
      </div>
      <div class="inputfield">
        <label>About</label>
        <textarea #about class="textarea" name="about"></textarea>
      </div>
      <div class="inputfield">
        <label>Location</label>
        <input #location type="text" class="input" name="location" />
      </div>
      <div class="inputfield">
        <label>WebSite</label>
        <input #website type="text" class="input" name="website" />
      </div>
      <div class="inputfield">
        <label>image</label>
        <input
          #logo
          type="file"
          class="input"
          name="logo"
          (change)="imgUpload($event)"
        />
      </div>

      <div class="inputfield">
        <button
          (click)="

          takedata(
            email.value,
            owner.value,
            field.value,
            numberOfEmployee.value,
            location.value,
            website.value,
            this.imageUrl,
            about.value
          )
        "
          class="btn"
        >
          Registration
        </button>
      </div>
    </div>
  </div>
</div>

