<div class="mid">
  <label for="Search Profil"></label>
  <input type="text" class="in" name="search" #search />
  <button class="big" (click)="searchProfil(search.value)">search</button>
</div>
<div>
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img src="{{ this.userData?.logo }}" />
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input type="file" name="file" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>{{ this.userData?.name }}</h5>
            <h6>{{ this.userData?.location }}</h6>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="home-tab"
                  (click)="about()"
                  aria-controls="home"
                  aria-selected="true"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="profile-tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >Posts</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <input
            type="submit"
            class="profile-edit-btn"
            name="btnAddMore"
            value="Edit Profile"
            (click)="updateProfil()"
          />
          <input
            type="submit"
            value="Add Post"
            class="profile-edit-btn"
            (click)="toPost()"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <a href="{{ this.userData?.website }}">Website Link : </a><br />
            <p>SKILLS</p>
            <p>{{ this.userData?.trainingOptions }}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-6" *ngFor="let element of userPosts">
                  <label>post</label>
                  <p>{{ this.element?.title }}</p>
                  <button
                    class="btn btn-dark"
                    (click)="handleClick(this.element)"
                  >
                    modify
                  </button>
                  <button
                    class="btn btn-danger"
                    (click)="delete(this.element.id)"
                  >
                    delete
                  </button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            ></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
