<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <a class="navbar-brand" href="#">
        Generic Brand
      </a>
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="ban()">
              <span data-feather="home"></span>
              Ban
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="verf()">
              <span data-feather="file"></span>
              Verification <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="member()">
              <span data-feather="shopping-cart"></span>
              Memberships
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="coach()">
              <span data-feather="users"></span>
              add Coach
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="feedback()">
              <span data-feather="bar-chart-2"></span>
              feedback
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="post()">
              <span data-feather="layers"></span>
              all posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="report()">
              <span data-feather="layers"></span>
              reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="adTree()">
              <span data-feather="layers"></span>
              add trees
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goback()">
              <span data-feather="layers"></span>
              disconnect
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="all">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Verify</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <tbody *ngFor="let element of NonValidStudents">
          <tr>
            {{ this.element?.username }}
            <th>
              <button
                type="button"
                class="btn btn-success"
                (click)="verifie(this.element?.username)"
              >
                Verify
              </button>
            </th>
            <th>
              <button
                type="button"
                class="btn btn-danger"
                (click)="reject(this.element?.username)"
              >
                Reject
              </button>
            </th>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Verify</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <tbody *ngFor="let element of NonValidCompanies">
          <tr>
            {{ this.element?.name }}
            <th>
              <button
                type="button"
                class="btn btn-success"
                (click)="verifieCompanies(this.element?.name)"
              >
                Verify
              </button>
            </th>
            <th>
              <button
                type="button"
                class="btn btn-danger"
                (click)="rejectCompanies(this.element?.name)"
              >
                Reject
              </button>
            </th>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Training</th>
            <th scope="col">Verify</th>
            <th scope="col">Reject</th>
          </tr>
        </thead>
        <tbody *ngFor="let element of NonValidCenters">
          <tr>
            {{ this.element?.name }}
            <th>
              <button
                type="button"
                class="btn btn-success"
                (click)="verifieCenter(this.element?.name)"
              >
                Verify
              </button>
            </th>
            <th>
              <button
                type="button"
                class="btn btn-danger"
                (click)="rejectCenter(this.element?.name)"
              >
                Reject
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
