<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="feed()"
          >Feed <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="profile()">Profile</a>
      </li>
      <li class="nav-item">
        <a (click)="takeMeToReports()" class="nav-link">send Report</a>
      </li>

      <li class="nav-item">
        <a (click)="logOutStudent()"><i class="fas fa-sign-out-alt"></i> </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div>
  <label>
    Name:
    <input type="text" [formControl]="username" />
  </label>
  <label>
    type of user:
    <select [formControl]="typeOfUser">
      <option value="student">Student</option>
      <option value="company">Company</option>
      <option value="training center">Training Center</option>
    </select>
  </label>
  <label>
    your report:
    <input type="textarea" [formControl]="message" />
  </label>
  <label>
    submit
    <input
      type="submit"
      (click)="submitForm(username.value, typeOfUser.value, message.value)"
    />
  </label>
</div>
