<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="feed()"
          >Feed <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="profile()">Profile</a>
      </li>
      <li class="nav-item">
        <a (click)="takeMeToReports()" class="nav-link">send Report</a>
      </li>

      <li class="nav-item">
        <a (click)="logOutStudent()"><i class="fas fa-sign-out-alt"></i> </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div id="card">
  <div class="image left">
    <img src="{{this.post.image}}" />
  </div>
  <br />
  <p></p>
  <br />
  <ul class="list-group">
    <li class="list-group-item">Title of the post: {{this.post.title }}</li>
    <li class="list-group-item">Description: {{this.post.description }}</li>
    <li class="list-group-item">Posted by : {{this.post.owner }}</li>
    <li class="list-group-item">Avrage Salary: {{this.post.salary }}</li>
    <li class="list-group-item">Contact us: {{this.post.contact }}</li>
  </ul>
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea
        #commen
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <button
      type="submit"
      (click)="comment(commen.value)"
      class="btn btn-primary mb-2"
    >
      Confirm identity
    </button>
  </form>

  <div class="media" *ngFor="let element of comments">
    <img src="{{ this.element?.imgUrl}}" class="mr-3" alt="..." />
    <div class="media-body">
      <h5 class="mt-0">{{ this.element?.username}}</h5>
      {{ this.element?.postsText}}
    </div>
  </div>
</div>
